{% extends 'base.html' %}

{% block content %}
<main class="container">
    <section>
        <h2 class="section-title">Contacts</h2>

        <p>
            <a href="https://np.linkedin.com/in/amod-mani-dixit-1bb14321" target="_blank"><strong>Dr. Amod Mani Dixit</strong></a> , Convener<br>
           
            Phone: +977 9851027459<br>
            E-mail: <a href="amod.dixit@gmail.com">amod.dixit@gmail.com</a><br>
        </p>
        <p>
            <strong>Surya Narayan Shrestha</strong> , Deputy Convener (Management)<br>
            Phone: +977 9851103625<br>
            E-mail: <a href="sshrestha@nset.org.np">sshrestha@nset.org.np</a><br>
        </p>
        <p>
            <strong>Dr. Ramesh Guragain</strong> , Deputy Convener (Technical)<br>
            Phone: +977 9851075408<br>
            E-mail: <a href="rguragain@gmail.com">rguragain@gmail.com</a><br>
        </p>
        <p>
            <strong>National Society for Earthquake Technology-Nepal</strong><br>
            <a href="https://www.google.com/maps/place/NSET/@27.6533106,85.2998424,966m/data=!3m1!1e3!4m6!3m5!1s0x39eb1788bdcaba7b:0x228de5843c5ba6e4!8m2!3d27.6533602!4d85.3025702!16s%2Fg%2F1hf3wbpx5?entry=ttu&g_ep=EgoyMDI1MTEyMy4xIKXMDSoASAFQAw%3D%3D" target="_blank">M833+82W, Sainbu Bhainsepati Residential Area, Lalitpur, Lalitpur 13775</a><br>
            <strong>Official Email of Conference: </strong> <a href="9ACEE@nset.org.np">9ACEE@nset.org.np</a><br>
            <strong>Website: </strong> <a href="https://www.nset.org.np/nset2012/index.php/even
t/eventdetail/eventid-661" target="_blank">www.nset.org.np</a><br>
        </p>


    </section>
</main>
{% endblock %}  