{% extends 'base.html' %}

{% block content %}
<main class="container">
        <section id="about">
        <h2 class="section-title">Organizers</h2>
        <p>
            The program is organized by the National Disaster Risk Reduction and Management Authority (NDRRMA), Government of Nepal.
It is hosted by the National Society for Earthquake Technology–Nepal (NSET).
These organizations work to reduce disaster risks and improve earthquake safety in Nepal.
They focus on policy, research, and practical solutions for disaster resilience.
Their efforts aim to protect lives, infrastructure, and communities.
        </p>
    
<section>
    <h3>Organized by: </h3>
{% load static %}

<p>
National Disaster Risk Reduction and Management Authority (NDRRMA), Government of Nepal
</p>

<! -- "governmnt" --->
<div class="government-sponsors">

    <a href="https://ndrrma.gov.np/en/" target="_blank" class="sponsor-logo">
        <img src="{% static 'images/NRDDMA_logo_KP_1.png' %}" alt="NDRRMA">
    </a>

    <a href="https://www.nepal.gov.np/" target="_blank" class="sponsor-logo">
        <img src="{% static 'images/NDRRMA_20230114150029building.jpg' %}" alt="NDRRMA building">
    </a>

</div>
<br>

    <h3>Host: </h3>
{% load static %}

<p>
National Society for Earthquake Technology – Nepal (NSET)
</p>


<div class="government-sponsors">

    <a href="https://www.nset.org.np/nset2012/" target="_blank" class="sponsor-logo">
        <img src="{% static 'images/nset.jpg' %}" alt="NDRRMA">
    </a>

    <a href="https://www.nset.org.np/nset2012/" target="_blank" class="sponsor-logo">
        <img src="{% static 'images/NSET Building old.jpg' %}" alt="NDRRMA building">
    </a>

</div>
<br>

<h3>In collaboration with: </h3>
<br>
        <div class="subsection">
            
            <ul class="partners-list">
            
                <li><a href="https://www.ncree.org/conference/About.aspx?n=I20221109A0" target="_blank">Asia Conference on Earthquake Engineering (ACEE)</a></li>
                <li><a href="https://uesc.edu.np/cgi-sys/suspendedpage.cgi" target="_blank">Universal Engineering and Science College</a></li>
                <li><a href="https://seanep.org/" target="_blank">Structural Engineers Association Nepal (SEANep)</a></li>
                <li><a href="https://ait.ac.th/" target="_blank">Asian Institute of Technology (AIT)</a></li>
                <li><a href="https://www.adpc.net/ver25/?" target="_blank">Asian Disaster Preparedness Center (ADPC)</a></li>
                <li><a href="https://gidm.gujarat.gov.in/" target="_blank">Disaster Management Institute, Gujarat (DMI Gujarat)</a></li>
                <li><a href="https://ngeotechs.org/" target="_blank">Nepal Geotechnical Society (NGS)</a></li>
                <li><a href="https://www.manipal.edu/icas.html" target="_blank">International Center for Applied Sciences (ICAS)</a> </li>
            </ul>
        </div>

<br>
    </section>
</main>
{% endblock %}