{% extends 'base.html' %}

{% block content %}
<main class="container">
        <section id="about">
        <h2 class="section-title">Organizers</h2>
<section>
    <h3>Organizer: </h3>
{% load static %}

<p>
National Disaster Risk Reduction and Management Authority (NDRRMA), Government of Nepal
</p>

<! -- "governmnt" --->
<div class="government-sponsors">

    <a href="https://ndrrma.gov.np/en/" target="_blank" class="sponsor-logo">
        <img src="{% static 'images/ndrmma.png' %}" alt="NDRRMA">
    </a>

    <a href="https://www.nepal.gov.np/" target="_blank" class="sponsor-logo">
        <img src="{% static 'images/NRA-Final.jpg' %}" alt="NDRRMA building">
    </a>

</div>
<br>
    <h3>Co-Organizers: </h3>
{% load static %}

<h4>1. Nepal Academy of Science and Technology (NAST)</h4>

<! -- "governmnt" --->
<div class="government-sponsors">

    <a href="https://ndrrma.gov.np/en/" target="_blank" class="sponsor-logo">
        <img src="{% static 'images/Nepal-Academy-of-Science-and-Technology-(NAST).jpg' %}" alt="NDRRMA">
    </a>

</div>

<h4>2. Asia Conference on Earthquake Engineering (ACEE)</h4>
<div class="government-sponsors">

    <a href="https://www.ncree.org/conference/About.aspx?n=I20221109A0" target="_blank" class="sponsor-logo">
        <img src="{% static 'images/aceee.png' %}" alt="Ncree logo">
    </a>
        <a href="https://www.ncree.org/conference/About.aspx?n=I20221109A0" target="_blank" class="sponsor-logo">
        <img src="{% static 'images/Main05.jpg' %}" alt="ncreepic">
    </a>



</div>
<br>

    <h3>Host </h3>
{% load static %}

<p>
National Society for Earthquake Technology – Nepal (NSET)
</p>


<div class="government-sponsors">

    <a href="https://www.nset.org.np/nset2012/" target="_blank" class="sponsor-logo">
        <img src="{% static 'images/nset.jpg' %}" alt="NDRRMA">
    </a>

    <a href="https://www.nset.org.np/nset2012/" target="_blank" class="sponsor-logo">
        <img src="{% static 'images/NSET Building old.jpg' %}" alt="NDRRMA building">
    </a>

</div>
<br>

<h3>In collaboration with: </h3>
<br>
        <div class="subsection">
            
        <ul class="partners-list">
            <li><a href="https://www.ncree.org/conference/About.aspx?n=I20221109A0" target="_blank">Asia Conference on Earthquake Engineering (ACEE)</a></li>
            <li><a href="https://www.adpc.net/ver25/?" target="_blank">Asian Disaster Preparedness Center (ADPC)</a></li>
            <li><a href="https://www.adrrn.net/" target="_blank">Asian Disaster Reduction and Response Network (ADRRN)</a></li>
            <li><a href="https://ait.ac.th/" target="_blank">Asian Institute of Technology (AIT)</a></li>
            <li><a href="https://gidm.gujarat.gov.in/" target="_blank">Disaster Management Institute, Gujarat (DMI)</a></li>
            <li><a href="https://www.dpnet.org.np/" target="_blank">Disaster Preparedness Network Nepal (DPNet)</a></li>
            <li><a href="https://compenser.de/en/project/earthquake-protection-absorber/?gad_source=1&gad_campaignid=11390636282&gbraid=0AAAAACHfo1Kdlq0tRHtwDyuXyAZZr6sd6&gclid=CjwKCAiA09jKBhB9EiwAgB8l-D4zvRWnazow50YBO88odl1AqFGmZDzZJ7z4VbrN66WcKuOn1cWY0hoCTEMQAvD_BwE" target="_blank">Earthquake Safety Solutions (ESS)</a></li>
            <li><a href="https://www.manipal.edu/icas.html" target="_blank">International Center for Applied Sciences (ICAS)</a></li>
            <li><a href="https://www.neanepal.org.np/" target="_blank">Nepal Engineers' Association (NEA)</a></li>
            <li><a href="https://ngs.org.np/" target="_blank">Nepal Geological Society (NGS)</a></li>
            <li><a href="https://ngeotechs.org/" target="_blank">Nepal Geotechnical Society (NGS)</a></li>
            <li><a href="https://scaef.org.np/" target="_blank">Society of Consulting Architectural and Engineering Firms (SCAEF)</a></li>
            <li><a href="https://sona.org.np/" target="_blank">Society of Nepalese Architects (SONA)</a></li>
            <li><a href="https://soten.org.np/" target="_blank">Society of Transportation Engineers Nepal (SOTEN)</a></li>
            <li><a href="https://saadri.net/" target="_blank">South Asia Alliance of Disaster Research Institutes (SAADRI)</a></li>
            <li><a href="https://seanep.org/" target="_blank">Structural Engineers Association Nepal (SEANep)</a></li>
            <li><a href="https://uesc.edu.np/cgi-sys/suspendedpage.cgi" target="_blank">Universal Engineering and Science College (UESC)</a></li>
        </ul>
        </div>

<br>
    </section>
</main>
{% endblock %}