{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container">
    <section id="about">
        <h2 class="section-title">Download</h2>

        <ul>
            <li>
                <a href="{% static 'images/Brochure of 9ACEE(2).pdf' %}" download>
                    Proceedings of 9ACEE
                </a>
            </li>

            <li>
                <a href="{% static 'images/Brochure of 9ACEE(2).pdf' %}" target="_blank">
                    To view Proceedings of 9ACEE
                </a>
            </li>

            <li>
                <a href="{% static 'images/9ACEE Program brochure.24Nov2025.pdf' %}" download>
                    Program Brochure
                </a>
            </li>

            <li>
                <a href="{% static 'images/9ACEE Program brochure.24Nov2025.pdf' %}" target="_blank">
                    To view Program Brochure
                </a>
            </li>
        </ul>

    </section>
</main>
{% endblock %}
