{% extends 'base.html' %}

{% load static %}

{% block content %}
<main>
    <section class="container" style="margin-top: 60px; margin-bottom: 60px;">
    <h2 class="section-title" style="text-align: center;">Important Dates</h2>
    
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-content">
                <span class="timeline-date">20 January 2026</span>
                <h3>Abstract Submission</h3>
            </div>
        </div>
        
        <div class="timeline-item">
            <div class="timeline-content">
                <span class="timeline-date">30 January 2026</span>
                <h3>Review of abstracts & notification</h3>
            </div>
        </div>
        
        <div class="timeline-item">
            <div class="timeline-content">
                <span class="timeline-date">30 February 2026</span>
                <h3>Second circular with registration details</h3>
            </div>
        </div>
        
        <div class="timeline-item">
            <div class="timeline-content">
                <span class="timeline-date">30 March 2026</span>
                <h3>Submission of full paper</h3>
        </div>
        </div>
        
        <div class="timeline-item">
            <div class="timeline-content">
                <span class="timeline-date">15 April 2026</span>
                <h3>Review and finalization of papers</h3>
            </div>
        </div>
        
        <div class="timeline-item">
            <div class="timeline-content">
                <span class="timeline-date">20 April 2025</span>
                <h3>Third/Final circular (final program, agenda & logistics)</h3>
            </div>
        </div>
        
        <div class="timeline-item">
            <div class="timeline-content">
                <span class="timeline-date">30 April 2025</span>
                <h3>Deadline for submission of presentation files</h3>
            </div>
        </div>
    </div>
</section>
</main>
{% endblock %}