{% extends 'base.html' %}

{% block extra_css %}
<style>
.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.session-list {
    list-style-type: disc;
    padding-left: 20px;
}

.session-list li {
    margin-bottom: 8px;
    line-height: 1.5;
}

</style>
{% endblock %}

{% block content %}
<main class="container">
    <section id="about">
        <h2 class="section-title">Themes & Topics</h2>

        <p class="title">Proposed technical sessions include:</p>

        <ul class="session-list">
            <li>Engineering seismology (e.g., soil nonlinearity, ground motion prediction, site effects)</li>
            <li>Geotechnical earthquake engineering (e.g., ground response, liquefaction, SSI, foundation design, innovations)</li>
            <li >
                Seismic design, evaluation and retrofit (e.g., retrofits, performance design, isolation and control, non-structural components)
            </li>
            <li>Seismic loss and risk assessment (e.g., resilience, hazard/vulnerability, loss estimation, DRR planning)</li>
            <li>Monitoring and early warning (e.g., SHM and early warning systems, economic implications)</li>
            <li>Advanced methods for simulation (e.g., advanced and hybrid simulations)</li>
            <li>Photogrammetry and visualization (e.g., structure-from-motion, UAV reconnaissance)</li>
            <li>Lessons learned from post-disaster response and recovery</li>
            <li>Heritage and traditional structures</li>
            <li>Social vulnerability and risks</li>
            <li>Risk reduction policies and practices</li>
            <li>Other special sessions</li>
        </ul>
    </section>
</main>
{% endblock %}
