{% extends 'base.html' %}

{% block content %}
<main class="container">
<section id="hosts-sponsors">
 <div class="subsection">
            <h3>Venue</h3>
            <p>
                Hayat Hotel offers comfortable rooms, warm hospitality, and modern facilities for both business and leisure travelers. Conveniently located and designed for comfort, we ensure every guest enjoys a relaxing and memorable stay.
            </p>
            <h4>Address:</h4>
            <a href=""></a>
</div>

         
</section>
</main>
{% endblock %}

    
 